h1 {
    background-color: black;
    color: violet;
}

.recipe {
    background-color: beige;
    font-size: 20px;
    font-family: Courier, serif, 'Times New Roman', Times;
    color: aquamarine;
}

.headerz {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    color: blue;
}

p a {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}